<h1>Card</h1>

{{#if courses.length}}
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Count</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
            <tr>
                <td>{{title}}</td>
                <td>{{count}}</td>
                <td>
                    <button class="btn btm-small">Delete</button>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>

    <p><strong>Price:</strong> <span class="price">{{price}} </span></p>
{{else}}
    <p>Card is empty</p>
{{/if}}